<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id = "br.com.alanmosko.qualaproximaaula"
version = "1.0">

    <name>Qual a Próxima Aula?</name>
<description>
Aplicativo que tem como foco, ajudar os alunos que estão cursando Ciência da Computação na Puc-Pr, em saber Qual é a Próxima Aula?
</description>
<author href="http://alanmosko.com.br" email="falecom@alanmosko.com.br">
Alan Mosko
</author>

    <icon src="img/logo_72.png" gap:platform="ios" width="72" height="72" />
<icon src="img/logo_144.png" gap:platform="ios" width="144" height="144" />
<icon src="img/logo_48.png" gap:platform="android" gap:density="mdpi" />
<icon src="img/logo_72.png" gap:platform="android" gap:density="hdpi" />
<icon src="img/logo_96.png" gap:platform="android" gap:density="xhdpi" />
<icon src="img/logo_144.png" gap:platform="android" gap:density="xxhdpi" />
<icon src="img/logo_192.png" gap:platform="android" gap:density="xxxhdpi" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="Storage">
    <param name="android-package" value="org.apache.cordova.Storage" />
    </feature>
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <!-- content src="http://www.w3.org/2010/05/video/mediaevents.html" / -->
</widget>